<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Serviços</title>
</head>

<body>
    
    <h3>Cadastro de obras</h3>

    <form action="/obras/inserir" method="post">
        <label for="endereco">Endereço</label><br>
        <input type="text" name="endereco" id="endereco"><br>
        <label for="valorservico">Valor do serviço</label><br>
        <input type="text" name="valorservico" id="valorservico"><br>
        <label for="descricao">Descrição</label><br>
        <input type="text" name="descricao" id="descricao"><br>
        <button>Cadastrar</button>
    </form>
</body>

</html>