<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Serviços</title>
    <link rel="stylesheet" type="text/css" href="/css/estilo.css">
</head>

<body>
    <h3>Lista de obras</h3>

    {{#each obra}}
    <div class="container">
        <div>
            <p>{{this.endereco}}</p>
            <p>{{this.valorservico}}</p>
            <p>{{this.valordespesa}}</p>
        </div>

    </div>
    {{/each}}

    <br>

</body>

</html>