<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Serviços</title>
    <link rel="stylesheet" type="text/css" href="/css/estilo.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script type="text/javascript" src="/functions/deleta.js"></script>
</head>

<body>

    <header class="header"><a href="/usuario/inicio"><img src="/img/icon-voltar.png" width="90"></a></header>

    <main>
        <h2>Despesas</h2>
        <div class="container">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Endereço</th>
                            <th>Valor da Despesa</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each obra}}
                        <tr>
                            <td class="item">{{this.id}}</td>
                            <td class="item">{{this.endereco}}</td>
                            <td class="item">{{this.valordespesa}}</td>
                            <td class="action">
                                <form class="form-delete">
                                    <input type="hidden" class="id-delete" name="id" id="id" value={{this.id}}>
                                    <input id="delete" type="submit" value="">
                                </form>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>

        <br>
        <div class="new-register">
            <a href="/despesa/cadastrar"><img src="/img/icon-add.png" width="40">NOVA DESPESA</a>
            <input type="hidden" id="url" value="/despesa/deletar">
        </div>

    </main>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>

</html>