<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Serviços</title>
</head>

<body>

    <h3>Cadastro de Despesa</h3>

    <form action="/despesa/inserir" method="post">
        <label for="titulo">Descrição</label><br>
        <input type="text" name="titulo" id="titulo"><br>
        <label for="texto">Valor</label><br>
        <input type="text" name="texto" id="texto"><br>
        <label for="idObra">idObra</label><br>
        <input type="text" name="idObra" id="idObra"><br>

        <button>Cadastrar</button>
    </form>
</body>

</html>