<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Serviços</title>
    <link rel="stylesheet" type="text/css" href="/css/estilo.css">
    <script type="text/javascript" src="/functions/validaDespesa.js"></script>
</head>

<body>

    <header class="header"><a href="/usuario/inicio"><img src="/img/icon-voltar.png" width="90"></a></header>

    <main>

        <h2 class="title">Cadastro de despesa</h2>

        <form action="/despesa/inserir" method="post">

            <label for="descricao">Descrição</label><br>
            <input type="text" name="descricao" id="descricao" onkeypress="return somenteLetras(event)"><br>

            <label for="valordespesa">Valor</label><br>
            <input type="text" name="valordespesa" id="valordespesa" onkeypress="return somenteNumeros(event)"><br>

            <label for="obra">Obra</label><br>
            <select name="idObra" id="idObra">
                <option value="0" selected hidden>- Selecione a obra -</option>
                {{#each obra}}
                <option value={{this.id}}>{{this.endereco}}</option>
                {{/each}}
            </select>

            <br><br><br>

            <button class="btn-form">Cadastrar</button>
            <script src="/functions/formataInput.js"></script>
        </form>

        <div class="box-msg">
            <p id="msg"></p>
        </div>

    </main>
</body>

</html>