<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Serviços</title>
    <link rel="stylesheet" type="text/css" href="/css/estilo.css">
</head>

<body>

    <header class="header-home"><a href="/usuario/sair"><img src="/img/icon-sair.png" width="90"></a></header>

    <main>
        <div class="container-line">
            <a href="/obra/listagem">
                <div class="widget">
                    <img src="/img/icon-casa.png" width="150" />
                    <p class="tag">Obras</p>
                </div>
            </a>

            <a href="/funcionario/listagem">
                <div class="widget">
                    <img src="/img/icon-funcionario.png" width="150" />
                    <p class="tag">Funcionários</p>
                </div>
            </a>
        </div>

        <br><br>

        <div class="container-line">
            <a href="/despesa/cadastrar">
                <div class="widget">
                    <img src="/img/icon-despesa.png" width="150" />
                    <p class="tag">Despesas</p>
                </div>
            </a>

            <a href="/servico/listagem">
                <div class="widget">
                    <img src="/img/icon-servico.png" width="150" />
                    <p class="tag">Serviços</p>
                </div>
            </a>
        </div>

    </main>

    <footer class="footer"></footer>

</body>

</html>