<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Serviços</title>
</head>

<body>

    <h3>Cadastro de Funcionário</h3>

    <form action="" method="post">
        <label for="nome">Nome</label><br>
        <input type="text" name="nome" id="nome"><br>
        <label for="valorhora">Valor por hora</label><br>
        <input type="text" name="valorhora" id="valorhora"><br>

        <button>Cadastrar</button>
    </form>
</body>

</html>