<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Serviços</title>
</head>

<body>
    <h3>Lista de Funcionários</h3>

    {{#each funcionario}}
    <div class="container">
        <div>
            <p>{{this.nome}}</p>
            <p>{{this.valorhora}}</p>
        </div>
        <div>
            <form action="/funcionario/deletar" method="post">
                <input type="hidden" name="id" id="id" value={{this.id}}>
                <button type="submit">Deletar</button>
            </form>
            <form action="/funcionario/edicao" method="post">
                <input type="hidden" name="id" id="id" value={{this.id}}>
                <button type="submit">Editar</button>
            </form>
        </div>

    </div>
    {{/each}}

    <br>

    <a href="/funcionario/cadastrar">Cadastrar</a>

</body>

</html>